In [31]:
import pandas as pd

In [32]:
df_flights = pd.read_csv ('~/Downloads/C1DC/Flights.csv')
df_tickets = pd.read_csv ('~/Downloads/C1DC/Tickets.csv')
df_ac = pd.read_csv ('~/Downloads/C1DC/ac.csv')

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (3,13,14) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Cleaning Missing Values

See how many null values are in each columns

In [33]:
df_flights.isnull().sum()

FL_DATE                  0
OP_CARRIER               0
TAIL_NUM             12156
OP_CARRIER_FL_NUM        0
ORIGIN_AIRPORT_ID        0
ORIGIN                   0
ORIGIN_CITY_NAME         0
DEST_AIRPORT_ID          0
DESTINATION              0
DEST_CITY_NAME           0
DEP_DELAY            50351
ARR_DELAY            55991
CANCELLED                0
AIR_TIME             56551
DISTANCE               630
OCCUPANCY_RATE         310
dtype: int64

In [34]:
df_tickets.isnull().sum()

ITIN_ID                 0
YEAR                    0
QUARTER                 0
ORIGIN                  0
ORIGIN_COUNTRY          0
ORIGIN_STATE_ABR        0
ORIGIN_STATE_NM         0
ROUNDTRIP               0
REPORTING_CARRIER       0
PASSENGERS           1977
ITIN_FARE             960
DESTINATION             0
dtype: int64

In [35]:
df_ac.isnull().sum()

TYPE                0
NAME                0
ELEVATION_FT     7015
CONTINENT       27843
ISO_COUNTRY       247
MUNICIPALITY     5706
IATA_CODE       46187
COORDINATES         0
dtype: int64

Drop rows with any null values

In [36]:
df_na_flights=df_flights.dropna(how='any')
df_na_tickets=df_tickets.dropna(how='any')
df_na_ac=df_ac.dropna(how='any')

See how many duplicates are in each data frame

In [37]:
df_na_flights.duplicated().sum()

3231

In [38]:
df_na_tickets.duplicated().sum()

71327

In [39]:
df_na_ac.duplicated().sum()

3

Looking at the rows that are duplciated

In [40]:
df_na_flights[df_na_flights['TAIL_NUM'].duplicated()].head()

,FL_DATE,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,DEST_AIRPORT_ID,DESTINATION,DEST_CITY_NAME,DEP_DELAY,ARR_DELAY,CANCELLED,AIR_TIME,DISTANCE,OCCUPANCY_RATE
47,2019-03-02,WN,N740SW,3699,14679,SAN,"San Diego, CA",12889,LAS,"Las Vegas, NV",23.0,13.0,0.0,49,258,0.87
65,2019-03-02,WN,N711HK,2835,14679,SAN,"San Diego, CA",14057,PDX,"Portland, OR",7.0,11.0,0.0,136,933,0.79
68,2019-03-02,WN,N7707C,2731,14679,SAN,"San Diego, CA",14107,PHX,"Phoenix, AZ",49.0,40.0,0.0,47,304,0.53
80,2019-03-02,WN,N900WN,4501,14679,SAN,"San Diego, CA",14771,SFO,"San Francisco, CA",2.0,10.0,0.0,73,447,0.49
83,2019-03-02,WN,N7729A,5023,14679,SAN,"San Diego, CA",14771,SFO,"San Francisco, CA",-7.0,-7.0,0.0,73,447,0.56

In [41]:
df_na_tickets[df_na_tickets['ITIN_ID'].duplicated()].head()

,ITIN_ID,YEAR,QUARTER,ORIGIN,ORIGIN_COUNTRY,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,ROUNDTRIP,REPORTING_CARRIER,PASSENGERS,ITIN_FARE,DESTINATION
7742,201913137034,2019,1,BQK,US,GA,Georgia,0.0,OO,1.0,283.0,MEM
9907,201913150921,2019,1,CIU,US,MI,Michigan,1.0,OO,1.0,1548.0,LAS
11732,201912753477,2019,1,DBQ,US,IA,Iowa,0.0,MQ,1.0,428.0,ORD
17028,20191427871,2019,1,FLO,US,SC,South Carolina,0.0,AA,1.0,1889.0,AUS
23035,201913044933,2019,1,HVN,US,CT,Connecticut,0.0,OH,1.0,358.0,CVG

In [42]:
df_na_ac[df_na_ac['IATA_CODE'].duplicated()].head()

,TYPE,NAME,ELEVATION_FT,CONTINENT,ISO_COUNTRY,MUNICIPALITY,IATA_CODE,COORDINATES
20106,large_airport,OR Tambo International Airport,5558.0,AF,ZA,Johannesburg,JNB,"28.246, -26.1392"
20833,small_airport,Lumbala Airport,3700.0,AF,AO,Lumbala N'guimbo,GGC,"21.45083, -14.105106"
25112,large_airport,O R Tambo International,5558.0,AF,ZA,Johannesburg,JNB,"28.246, -26.1392"
27087,small_airport,Mara Lodges Airport,5706.0,AF,KE,Mara Lodges,MRE,"35.11130905151367, -1.1782759428024292"
28213,small_airport,Kimaam Airport,26.0,AS,ID,Kimaam,KMM,"138.852005005, -7.9781999588"

Drop Duplicates in the data sets

In [68]:
df_dd_flights=df_na_flights.drop_duplicates()
df_dd_tickets=df_na_tickets.drop_duplicates()
df_dd_ac=df_na_ac.drop_duplicates()

Drop Non-Numeric Rows

In [69]:
df_dd_flights2 = df_dd_flights[pd.to_numeric(df_dd_flights['DEP_DELAY'], errors='coerce').notnull()]

In [70]:
df_dd_flights3 = df_dd_flights[pd.to_numeric(df_dd_flights['ARR_DELAY'], errors='coerce').notnull()]

In [71]:
df_dd_flights4 = df_dd_flights[pd.to_numeric(df_dd_flights['CANCELLED'], errors='coerce').notnull()]

In [72]:
df_dd_flights5 = df_dd_flights[pd.to_numeric(df_dd_flights['AIR_TIME'], errors='coerce').notnull()]

In [73]:
df_dd_flights6 = df_dd_flights[pd.to_numeric(df_dd_flights['DISTANCE'], errors='coerce').notnull()]

In [74]:
df_dd_flights7 = df_dd_flights[pd.to_numeric(df_dd_flights['OCCUPANCY_RATE'], errors='coerce').notnull()]

In [75]:
df_dd_flights7.head()

,FL_DATE,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,DEST_AIRPORT_ID,DESTINATION,DEST_CITY_NAME,DEP_DELAY,ARR_DELAY,CANCELLED,AIR_TIME,DISTANCE,OCCUPANCY_RATE
0,2019-03-02,WN,N955WN,4591,14635,RSW,"Fort Myers, FL",11042,CLE,"Cleveland, OH",-8.0,-6.0,0.0,143,1025,0.97
1,2019-03-02,WN,N8686A,3231,14635,RSW,"Fort Myers, FL",11066,CMH,"Columbus, OH",1.0,5.0,0.0,135,930,0.55
2,2019-03-02,WN,N201LV,3383,14635,RSW,"Fort Myers, FL",11066,CMH,"Columbus, OH",0.0,4.0,0.0,132,930,0.91
3,2019-03-02,WN,N413WN,5498,14635,RSW,"Fort Myers, FL",11066,CMH,"Columbus, OH",11.0,14.0,0.0,136,930,0.67
4,2019-03-02,WN,N7832A,6933,14635,RSW,"Fort Myers, FL",11259,DAL,"Dallas, TX",0.0,-17.0,0.0,151,1005,0.62

Export to csv

In [76]:
df_dd_flights7.to_csv('~/Downloads/C1DC/Clean_Flights.csv', index=False)
df_dd_tickets.to_csv('~/Downloads/C1DC/Clean_Tickets.csv',index=False)
df_dd_ac.to_csv('~/Downloads/C1DC/Clean_AC.csv',index=False)